.addTrainer {
  font-family: "Inter", sans-serif;
  color: #4f4f4f;
  font-size: 18px;
  letter-spacing: -2%;
}
.topBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}
